@import "../../../App.scss";



.news__card {

  h5 {
    font-family: "OpenSans-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $color-dark-1;
  }

p {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $color-dark-1;
}
}

.h__title {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: $color-dark-1;
  margin-top: 63px;
}
