.container-request {
    margin: 4rem 4.37rem 4rem 4.37rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .card-company {
        width: 23%;
    }
}



@media only screen and (max-width: 1000px) {
    .container-request {
        gap: 14px;

        .card-company {
            width: 49%;
        }
    }
}

@media only screen and (max-width: 840px) {
    .container-request {
        margin: 4rem 2rem 4rem 2rem;
        gap: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .container-request {
        margin: 4rem 2rem 4rem 2rem;
        gap: 20px;

        .card-company {
            width: 100%;
        }
    }
}