.container-pages {
    margin: 8.75rem 4rem 3rem 4rem;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;

    .title-page {
        margin-top: 2rem;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #00162A;
    }

    .main-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }

    .main-text-bold {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }

    table {
        width: 100%;
        border: 1px solid #0A0A0A;

        thead {
            th {
                padding: 8px;
                background: #0A0A0A;
                border-right: 1px solid #0A0A0A;
                text-align: center;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                min-width: 30%;
                color: #F9FCFF;
            }
        }

        tbody {
            td {
                height: 95px;
                padding: 20px;
                border-right: 1px solid #0A0A0A;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #0A0A0A;

            }
        }
    }

    .title-down {
        margin-top: 2rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }

    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #056ac8;
    }

}

.fast-navigation {
    display: flex;
    align-items: center;

    .arrow-navigation {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #0A0A0A;

        &::after {
            content: ">";
            margin-left: 4px;
            margin-right: 4px;
        }

        &:last-child {
            font-weight: 700;

            &::after {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .container-pages {
        margin: 8.75rem 0rem 3rem 0rem;
    }
}