* {
    font-family: 'Open Sans';
    font-style: normal;
}

.container-bidding {
    padding: 25px 70px 25px 70px;

    .filter-bidding {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F3F3F3;
        border-radius: 80px;

        a {
            padding: 32px;
            width: 25%;
            background: #F3F3F3;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                margin: 0 0 0 10px;
                font-weight: 400;
                font-size: 16px;
            }

            svg {
                width: 25px;
            }

            path {
                fill: #3B3B3B;
            }

            &:first-child {
                border-radius: 80px 0px 0px 80px;
            }

            &:last-child {
                border-radius: 0px 80px 80px 0px;
            }

            &:hover {
                background: #003463;

                path {
                    fill: #F9FCFF;
                }

                p {
                    color: #F9FCFF;
                }
            }
        }
    }

    .filter-tags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 20px;

        div:first-child p {
            font-weight: 600;
            font-size: 16px;
            color: #535353;
        }

        div:last-child {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;

            a {
                border: 1px solid #535353;
                border-radius: 24px;
                padding: 9px 20px;
                font-weight: 600;
                font-size: 16px;
                color: #535353;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}



@media only screen and (max-width: 770px) {
    .container-bidding {
        padding: 45px 15px 25px 15px;

        .filter-tags {
            display: block;

            div:first-child p {
                text-align: center;
            }

            div:last-child {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 20px;

                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .filter-bidding a {
            padding: 25px;

            p {
                display: none;
            }
        }
    }

}