.text-input {
    width: 49%;

    label {
        font-weight: 400;
        font-size: 13px;
        color: #646464;
        line-height: 17px;
    }

    input,
    select {
        width: 100%;
        padding-left: 4px;
        height: 40px;
        background: #FFFFFF;
        border: 0.836901px solid #CCCCCC;
        border-radius: 3.3476px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #848484;
    }

    input,
    select:focus {
        outline: none;
    }

    .field-required {
        font-size: 12px;
        color: red;
    }

    .label-input {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 6px label {
            font-weight: 400;
            font-size: 13px;
            color: #646464;
            line-height: 17px;
        }

        .checkbox {
            display: flex;

            input {
                width: 15px;
                font-size: 10px;
                height: 15px;
            }

            label {
                margin-left: 5px;
            }
        }
    }

}


.type-1 {
    width: calc(8.333% - 10px);
}

.type-2 {
    width: calc(16.667% - 10px);
}

.type-3 {
    width: calc(25% - 10px);
}

.type-4 {
    width: calc(33.333% - 10px);
}

.type-5 {
    width: calc(41.667% - 10px);
}

.type-6 {
    width: calc(50% - 10px);
}

.type-7 {
    width: calc(58.333% - 10px);
}

.type-8 {
    width: calc(66.667% - 10px);
}

.type-9 {
    width: calc(75% - 10px);
}

.type-10 {
    width: calc(83.333% - 10px);
}

.type-11 {
    width: calc(91.667% - 10px);
}

.type-12 {
    width: 100%;
}

.text-textarea {
    width: 100%;

    label {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #646464;
    }

    textarea {
        width: 100%;
        padding-left: 4px;
        min-height: 252px;
        background: #FFFFFF;
        border: 0.836901px solid #CCCCCC;
        border-radius: 3.3476px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #848484;

        &:focus {
            outline: none;
        }
    }

    .field-required {
        font-size: 12px;
        color: red;
    }
}

.checkboxs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .item-checkbox {
        width: 50%;
        margin-top: 5px !important;
        display: flex;
        align-items: center;
        input {
            width: 15px !important;
            height: 15px !important;
        }

        label{
            margin-left: 5px;
        }
    }
}